.main_menu_container {
    -fx-background-color: #EEEEEE;
    -fx-alignment: center;
}

.left_container {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 10, 0.0 , 0 , 5);
}

.title_container {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20 20 0 0;
    -fx-alignment: top_center;
    -fx-padding: 10;
}

.title_container FontAwesomeIconView {
    -fx-fill: #132A13;
}

.title_container TEXT {
    -fx-fill: #000000;
    -fx-font-size: 2em;
}

.menu_container {
    -fx-padding: 10 10 10 20;
    -fx-spacing: 15;
}

.menu_container Button {
    -fx-pref-width: 115px;
    -fx-pref-height: 40px;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #132A13;
    -fx-font-size: 1.2em;
    -fx-alignment: center_left;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 10, 0.0 , 0 , 5);
}

.menu_container Button:hover {
    -fx-cursor: hand;
}

.menu_container Button FontAwesomeIconView {
    -fx-fill: #132A13;
}

.alt_menu_btn {
    -fx-pref-width: 115px;
    -fx-pref-height: 40px;
    -fx-background-color: #132A13;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.2em;
    -fx-alignment: center_left;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 5, 0, 0 , 6);
}

.alt_menu_btn:hover {
    -fx-cursor: hand;
}

.alt_menu_btn FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}

/* report bug */
.report_container {
    -fx-background-color: #EEFFEE;
    -fx-background-radius: 10;
    -fx-alignment: center;
    -fx-padding: 10 0 10 0;
    -fx-spacing: 10;
}

.report_container Text {
    -fx-fill: #132A13;
    -fx-font-weight: bold;
}

.report_container Label {
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

.report_container Button {
    -fx-pref-width: 80px;
    -fx-background-color: #132A13;
    -fx-text-fill: #FFFFFF;
}

.report_container Button:hover {
    -fx-cursor: hand;
}

.report_container Button FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}
