.login_container{
    -fx-background-color: #EEEEEE;
}
/*Logo container*/
.login_logo_container{
    -fx-background-color: #132A13;
    -fx-alignment: center;
}

.login_logo_container Text{
    -fx-fill: white;
    -fx-font-size: 2em;
    -fx-font-weight: bold;
}

.login_logo_container FontAwesomeIconView{
    -fx-fill: #ECF39E;
}

/*Account selector Chose box*/
.account_selector{
    -fx-background-color: #ECF39E;
    }
.account_selector .label{
    -fx-text-fill: #132A13;
    -fx-font-size: 1.1em;
}

.account_selector .arrow{
    -fx-background-color: #132A13;
}
#choise-box-popup-menu{
    -fx-background-color: #ECF39E;
}
/*Login form styles*/

#choise-propt-text{
-fx-font-weight:400;
}

.login_form_container{
    -fx-spacing: 15;
    -fx-alignment: top_left;
}

.login_form_container Label{
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}
.input-field{
    -fx-background-color: white;
    -fx-pref-height: 35;
    -fx-font-size: 1.2em;
}
.login_form_container Button{
    -fx-background-color: #132A13;
    -fx-text-fill: white;
    -fx-font-size: 1.2em;
   -fx-pref-height: 30;
    -fx-pref-width: 350;
}
.login_form_container Button:hover{
    -fx-cursor: hand;
    -fx-background-color: #0F220F;

}
.error_lbl{
    -fx-text-fill: #FF0000;
    -fx-font-size: 1em;
}