.transaction_container {
    -fx-background-color: #EEEEEE;
}

/* Apply to both Text and Label */
.transaction_container Text,
.transaction_container Label {
    -fx-fill: #000000;
    -fx-text-fill: #000000;
    -fx-font-size: 2.5em;
    -fx-font-family: "Calibri Light";
}

/* ListView */
.transaction_container .list-view {
    -fx-background-color: #EEEEEE;
    -fx-padding: 10;
}

.transaction_container .list-cell {
    -fx-background-color: #EEEEEE;
    -fx-pref-width: 800;
}
